body {
background-image: url('../images/Mt Kilimanjaro.jpg');
margin: 75px
}

h1 {
  color: teal
}

#aboutpagaragraph {
  margin-left:50px
}

ul li{
  margin-left:30px
}
#profilepic{
  height: 200px;
  width: 300px;
  float: right;
  margin-top:-30px;
  border-radius: 50%;
}
